xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

XTerm.termName: xterm-256color
XTerm.vt100.faceName: monospace
XTerm.vt100.faceSize: 10
XTerm.vt100.reverseVideo: true
XTerm.borderColor: white
