configuration {
    modi: "ssh,run,window";
    theme: "custom-orange";
    terminal: "xterm -r -fa 'Monospace' -fs 10";
    kb-move-word-back: "Alt+b,Shift+Left";
    kb-move-word-forward: "Alt+f,Shift+Right";
    kb-mode-next: "Control+Right";
    kb-mode-previous: "Control+Left";
}
